HTTP/1.1 200 OK
Content-Type: text/css
ETag: "1304703652"
Last-Modified: Thu, 15 Oct 2020 10:28:14 GMT
Server: Akamai Resource Optimizer
X-Akamai-Path-Stats: [1:364:4636]
Vary: Accept-Encoding
Cache-Control: max-age=330000
Expires: Thu, 22 Oct 2020 10:28:10 GMT
Date: Sun, 18 Oct 2020 14:48:10 GMT
Content-Length: 1428
Connection: keep-alive
Server-Timing: cdn-cache; desc=HIT
Server-Timing: edge; dur=1
Strict-Transport-Security: max-age=86400

body{line-height:28px;color:#333;font-weight:400;font-size:14px}ol ol,ol ul{margin-bottom:20px}h1{text-align:center;font-weight:300;font-size:48px;margin-bottom:20px}h2{text-align:center}ol{padding-left:15px}ol ol{padding-left:40px}ol ul ul{margin-bottom:0}ol li,ol li p{font-weight:400}ol ul p{margin-bottom:5px}ol ol li{list-style-type:lower-alpha}ol ol ol li{list-style-type:lower-roman}ol ul li{list-style-type:square}ol ul ul li{list-style-type:circle}.justified-legal-text{text-align:justify}p span.indent{display:inline-block;width:4em}sup{vertical-align:top;font-size:.8em;position:relative;top:-.5em}li span.indent{display:inline-block;width:3em}table.stg_table{font-size:12px;width:300px;border:0;border-collapse:collapse}table.stg_table tr{height:25px;line-height:25px;border-bottom:1px solid #d6d6d6;vertical-align:top}table.stg_table td{padding:0 10px;text-align:left;border:1px solid #d6d6d6}.alt2{background-color:#f8f8f8;border:1px solid #d6d6d6;font-weight:700}.alt1{background-color:#fff}table.stg_table thead{width:100%;background-color:#f8f8f8;color:#333;white-space:nowrap}#effective_date{display:block;text-align:center}#anchor a{text-decoration:none;color:#000;margin-bottom:20px}ul.list-lower-roman-paren{counter-reset:item;list-style:none;}ul.list-lower-roman-paren li:before{content:"(" counter(item, lower-roman) ") ";counter-increment:item;}ul li{margin-bottom:1em;}ul li:last-child{margin-bottom:0;}